<div class="wrapper">
  <header>
    <div class="container">
	    <ul class="nav navbar-nav">
	    	<li class="navbar-brand">amanda gray</div>
	        <li class="active">About</li>
	        <li>Publications</li>
	        <li>Blog</li>
	        <li>Contact</li>
	    </ul>
	</div>
  </header>
  
  <div class="main-body">
    <div id="container">
      <div class="main-nav">
        <a href="#/about"><div class="col-md-2 about section">
            <h3 class="selected" id="abo">About</h3>
        </div></a>

        <!-- <a href="#/publications"><div class="col-md-2 publications section">
            <h3 id="abo">Publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="http://isahauntedhouse.tumblr.com"><div class="col-md-2 blog section">
            <h3 id="abo">Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="#/contact"><div class="col-md-2 contact section">
            <h3 id="abo">Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a> -->
      </div>
    </div>
  </div>

  <div class="clear"></div>


  <div id="footer">
    <div class="container">
      <div class="footer-text">© 2014 amanda gray</div>
    </div>
  </div>

</div>
<div class="clear"></div>
