<div class="wrapper">

  <header class="header-main">
      <div class="logo"><h1>Robert Vergara</h1></div>
      <nav class="main-nav">
        <ul id="list-horizontal">
          <li><a href="#/home">Home</a></li>
          <li><a href="http://bobvergara.blogspot.com/" target="_blank">Blog</a></li>
          <li><a href="http://robertsfgeneralstay.blogspot.com/" target="_blank">Surgery Details</a></li>
          <li><a href="#/art-event">Art Event</a></li>
          <li><a href="#/calendar">Help</a></li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="donate">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
          <input id="donate-button" type="submit" value="Donate">
        </form>          
      </nav>
      <div class="clear" />
  </header>

<div class="clear" />

<div class="banner calendar">
	<div id="container">

		<h1>Art Event</h1>

		<h4>Robert and friends are hosting an event that features Robert's art and art from his friends. Proceeds will benefit Robert's medical costs.</h4>
		<h3>Details coming soon...</h3>
		<h3>Interested in helping? Got ideas? <a href="mailto:rogger8934@gmail.com" target="_blank">Email Robert</a></h3>
		<h3>Link to Robert's work with children: <a href="https://www.pinterest.com/babypicasso/" target="_blank">Baby Picasso</a></h3>

	</div>
</div>

<div class="banner">
	<div id="container" class="pictures-art-event">
		<div class="row art-event">
			<div class="col-md-6 pic-container">
				<img src="../images/rob-working.jpg"/>
			</div>
			<div class="col-md-6 pic-container">
				<img src="../images/rob-working-closeup.jpeg"/>
			</div>
		</div>

		<div class="row art-event">
			<div class="col-md-6 pic-container">
				<img src="../images/rob-sitting.jpeg"/>
			</div>
			<div class="col-md-6 pic-container">
				<img src="../images/rob-glasses.jpeg"/>
			</div>
		</div>

	</div>
</div>

</div>