<div class="wrapper">

  <header class="header-main">
      <div class="logo"><h1>Robert Vergara</h1></div>
      <nav class="main-nav">
        <ul id="list-horizontal">
          <li><a href="#/home">Home</a></li>
          <li><a href="http://bobvergara.blogspot.com/" target="_blank">Blog</a></li>
          <li><a href="http://robertsfgeneralstay.blogspot.com/" target="_blank">Surgery Details</a></li>
          <li><a href="#/art-event">Art Event</a></li>
          <li><a href="#/calendar">Help</a></li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="donate">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
          <input id="donate-button" type="submit" value="Donate">
        </form>          
      </nav>
      <div class="clear" />
  </header>

<div class="clear" />

<div class="banner calendar">
	<div id="container">

		<h1>Help Calendar</h1>

		<h4>Help Robert with daily things like appointments, meals and simple hangout time.</h4>
		<h3>1. find an event with "help needed" in the title</h3>
		<h3>2. text/call/email Robert to schedule: <span style="color: #1FDA9A;">949-335-2128 / <a href="mailto:rogger8934@gmail.com">rogger8934@gmail.com</a></span></h3>

		<div id="container" class="donate">
		    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		      <input type="hidden" name="cmd" value="_s-xclick">
		      <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
		      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		   </form>
		</div>
	</div>
</div>

<div class="banner">
	<div id="container">
		<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=sdn8p3k5fu57ctmumaip79n0fg%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

		<div class="calendar-links">
			<h4>Add Robert's calendar to your own calendar:</h4>
			<p><span class="calendar-title">Google Calendar - Calendar ID:</span> sdn8p3k5fu57ctmumaip79n0fg@group.calendar.google.com</p>
			<p><span class="calendar-title">ICAL:</span> https://www.google.com/calendar/ical/sdn8p3k5fu57ctmumaip79n0fg%40group.calendar.google.com/public/basic.ics</p>
			<p><span class="calendar-title">XML:</span> https://www.google.com/calendar/feeds/sdn8p3k5fu57ctmumaip79n0fg%40group.calendar.google.com/public/basic</p>
			<p><span class="calendar-title">HTML:</span> https://www.google.com/calendar/embed?src=sdn8p3k5fu57ctmumaip79n0fg%40group.calendar.google.com&ctz=Europe/Berlin</p>
		</div>
	</div>
</div>

</div>