<div class="wrapper">

  <header class="header-main">
      <div class="logo"><h1>Robert Vergara</h1></div>
      <nav class="main-nav">
        <ul class="list-horizontal">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/about">Story</a></li>
          <li><a href="#/blog">Blog</a></li>
          <!-- <li><a href="#/newsletter">Signup to Help</a></li> -->
          <li><a href="#/donate" class="donate-link">Donate</a></li>
        </ul>
      </nav>
      <div class="clear" />
  </header>

<div class="clear" />

<div class="banner">
  <div id="container">
    <h1>Help Robert Survive Cancer</h1>
    <div id="container" class="donate">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <div id="container" class="pictures">
      <div class="col-md-6 pic-container">
        <img src="../images/rob-work.jpg" />
      </div>
      <!-- <div class="col-md-4 pic-container">
        <img src="../images/withkids.jpg" />
      </div> -->
      <div class="col-md-6 pic-container">
        <img src="../images/rob-collage.jpg" />
      </div>
    </div>
  </div>
</div>

  <h2>We need your help to  SAVE A LIFE</h2>

    <div class="col-md-12">
    <p>Robert Vergara, Bay Club at the the Gateway's Front Desk Morning Greeter...</p>

    <p>With his warm smile and charismatic personality he opens the club at 5am each morning. Along with working at the club for the last five years, he pursues his art as a freelance artist and art educator, instilling his love for art in both children and adults.</p>

    <p>Robert was recently diagnosed with Metastasized Papillary Thyroid Cancer at 33 years old.  He was both unprepared and in complete shock from this news. Now that we know,</p>

    <p><strong>HOW CAN WE HELP??</strong></p>

    <p>As of next week, 3.24, Robert will begin treatment by undergoing surgery, with aggressive treatment to follow. As unexpected and stressful this diagnosis has been, it's his family and dear friends that will help him through this difficult and trying time.</p>

    <p>Any and all support is so greatly appreciated. For the months to come, he will need support in many forms. Anything you can generously contribute to aid in his treatment efforts is very much appreciated; as it is sure to be a long and costly journey back to health.  We are asking for the generous volunteering of time, donation of meals and rides to and from treatments.</p>

    <p>Please help us in our support of our dear friend Robert.</p>

    <p>Donations can be made securely online through PayPal (donate button below) or checks can be directed to Lee Radner.</p>
  </div>
  <div id="container" class="donate">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>
 </div>

</div>