<div class="wrapper">

  <header class="header-main">
      <div class="logo"><h1>Robert Vergara</h1></div>
      <nav class="main-nav">
        <ul id="list-horizontal">
          <!-- <li><a href="#/home">Home</a></li> -->
          <li><a href="http://bobvergara.blogspot.com/" target="_blank">Blog</a></li>
          <li><a href="http://robertsfgeneralstay.blogspot.com/" target="_blank">Surgery Details</a></li>
          <li><a href="#/art-event" target="_blank">Art Event</a></li>
          <li><a href="#/calendar" target="_blank">Help</a></li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="donate">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
          <input id="donate-button" type="submit" value="Donate">
        </form>          
      </nav>
      <div class="clear" />
  </header>

<div class="clear" />

<div class="banner">
  <div id="container">
    <h1>Help Robert Survive Cancer</h1>
    <div id="container" class="donate">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <div id="container" class="pictures">
      <div class="col-md-6 pic-container">
        <img src="../images/rob-work.jpg" />
      </div>
      <div class="col-md-6 pic-container">
        <img src="../images/rob-collage.jpg" />
      </div>
    </div>
  </div>
</div>

  <h2>Robert Vergara is fighting for his life and needs your help.</h2>

    <div class="col-md-12">
    <blockquote>"Spending his time as the charismatic face of the Gateway for the past five years, along with pursuing his passion for the arts as a visual artist and art educator, Robert is a friend to many."</blockquote>

    <h2>Updates</h2>

    <p>Following his recent diagnosis of Metastasized Papillary Thyroid Cancer at 33 years old, <a href="http://robertsfgeneralstay.blogspot.com/" target="_blank">Robert's surgery</a>, to remove the thyroid gland and lymph nodes on the right side of his neck, has been scheduled forMay 1st at SF General. Post-surgery treatment will begin in the form of radiated iodine.</p>

    <p><strong>We have updated the website!</strong> There are three new sections: the button <a href="http://bobvergara.blogspot.com/" target="_blank">"Blog"</a> has been added. This is a personal space where Robert can share his thoughts and feelings throughout this experience. Another button <a href="http://robertsfgeneralstay.blogspot.com/" target="_blank">"Surgery Details"</a> has been added to post updates regarding the surgery. Lastly, the button <a href="#/calendar" target="_blank">"Help"</a> was added which features a calendar where the generous donation of one's time can be scheduled, to assist Robert with rides to and from Dr. appointments, etc. </p>

    <p>At the end of July, an <a href="#/art-show" target="_blank">art event</a> will be hosted as a fundraiser. All proceeds will go towards Robert's surgery and treatment. Details to follow!!!</p>

    <h2>Help out or Donate</h2>

    <p>We want Robert’s energy to be focused fully on his recovery which means that any support we can give that will alleviate his financial and logistical worries is critical.</p>

    <p>We hope that you will continue to help us build a network of support for Robert and keep him in your thoughts through this difficult time. Any contribution you can make—in either <a href="#/calendar">time</a> or money—will be a lifeline to Robert as he undergoes what will, no doubt, be a difficult and costly journey back to health.</p>

    <p><strong>Donations can be made securely online through PayPal (button below).</strong></p>
  </div>
  <div id="container" class="donate">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="4RM94WRBWL98U">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>
 </div>

</div>