<div class="wrapper">
  <header>
    <ul class="nav navbar-nav">
      <li class="navbar-brand">robert vergara</div>
      <!-- <li class="active">About</li>
      <li>Publications</li>
      <li>Blog</li>
      <li>Contact</li> -->
    </ul>
  </header>
  
  <div class="main-body">
    <div id="container">
      <div class="main-nav">
        <a href="#/about"><div class="col-md-12 about section">
            <h3 id="abo">About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="#/publications"><div class="col-md-12 publications section">
            <h3 id="abo">Publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="http://isahauntedhouse.tumblr.com" target="_blank"><div class="col-md-12 blog section">
            <h3 id="abo">Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>

        <a href="#/contact"><div class="col-md-12 contact section">
            <h3 id="abo">Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="abo-arrow">>></span></h3>
        </div></a>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="footer-text">© 2014 amanda gray</div>
    </div>
  </div>

</div>