* {
    padding: 0;
    margin: 0;
    border: 0;
}

.clear {
    clear: both;
}

html, body {
  font-size: 118%;
  margin: none;
  font-family: 'arialblack','Arial Black',Arial;
  line-height: 1.4;
  text-align: center;
  background-color: #F2F2F3;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  max-width: 960px;
}

h2, a {
  color: #1FDA9A;
}

header .logo {
  float: left;
  display: block;
  color: #1FDA9A;
  background-repeat: no-repeat;
  padding: 10px 0;
}

header .main-nav {
  float: right;
  display: block;
  font-size: .8em;
  padding: 22px 0;
  position: relative;
  top: 20px;
}

#list-horizontal {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: left;
}

header li {
  display: inline;
  margin: 5px;
}

#donate-button {
  background-color: #F2F2F3;
  color: #EE4B3E;
}

#donate {
  float: right;
  padding-left: 10px;
}

.banner {
  background-color: #EE4B3E;
}

.banner h1 {
  color: #F5EACD;
}

#container, .art-event {
  width: 96%;
  margin: 0 auto;
  overflow: auto;
}

.pictures {
  padding-left: 35px;
}

.pictures-art-event {
  padding: 20px 0 0 48px;

}

.donate {
  padding: 20px;
/*  background-color: #E9BC1B;
*/}

.pic-container {
    width: 400px;
    height: 270px;
}

/* resize images */
.pic-container img {
    width: 100%;
    height: auto;
}

p {
  font-size: 1em;
  font-family: arial;
}

.calendar h3 {
  color: #F5EACD;
}

.calendar-links p {
  font-size: .6em;
}

.calendar-links span {
  color: #F5EACD;
}