* {
    padding: 0;
    margin: 0;
    border: 0;
}

.clear {
    clear: both;
}

html, body {
  font-size: 118%;
  margin: none;
  font-family: 'arialblack','Arial Black',Arial;
  line-height: 1.4;
  text-align: center;
  background-color: #F2F2F3;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  max-width: 960px;
}

header .logo {
  float: left;
  display: block;
  color: #1FDA9A;
  background-repeat: no-repeat;
  padding: 10px 0;
}

header .main-nav {
  float: right;
  display: block;
  padding: 22px 0;
  position: relative;
  top: 15px;
}

.donate-link {
  color: #EE4B3E;
}

ul .list-horizontal {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

header li {
  display: inline;
  margin: 5px;
}

.banner {
  background-color: #EE4B3E;
}

.banner h1 {
  color: #F5EACD;
}

h2, a {
  color: #1FDA9A;
}

#container {
  width: 96%;
  margin: 0 auto;
  overflow: auto;
}

.pictures {
  padding-left: 35px;
}

.donate {
  padding: 20px;
/*  background-color: #E9BC1B;
*/}

.pic-container {
    width: 400px;
    height: 270px;
}

/* resize images */
.pic-container img {
    width: 100%;
    height: auto;
}

p {
  font-size: 1em;
  font-family: arial;
}